// theme color
$primary-color: #420516;
$secondary-color: #7D1935;
$third-color: #B42B51;
$fouth-color:#E63E6D;
$custom-white: #ffffff;
$gold-color: #ffcf40;
$background-primary: linear-gradient(to bottom ,rgba(0, 0, 0, 1), rgba(255,215,0,1));
$primary-font: "Brush Script MT",Cursive;
$secondary-font: Fantasy;

.navbar-dark{
    background-color:$primary-color;
    font-family: $primary-font;
    border-radius: 15px;
    box-shadow: 0 0 7px $fouth-color;
}
.index{
    background-color: $primary-color;
    padding:2rem;
    padding-bottom: 0;
    margin-bottom: 0;
    margin:2rem;
    .card{
        background-color: $custom-white;
        border-radius: 15px;
        box-shadow: 0px 0px 17px $gold-color;
        position: relative;
    }
    .profile{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        box-shadow: 0 0 10px $secondary-color;
        border:1px solid $primary-color
    }
    .welcome {
        color:$secondary-color;
        font-family: $primary-font;
        font-weight: bold;
        text-shadow: 0px 5px $primary-color;
    }
    .bio {
        color: $fouth-color;
        font-size: 1.3rem;
        font-weight: 400;
        // text-shadow: 1px 2px $primary-color;
    }
    #mySidenav a {
        position:absolute;
        transition: 0.3s;
        padding: 15px;
        width: 129px;
        text-decoration: none;
        font-size: 20px;
        color: white;
        border-radius: 40px 0 0 40px;
      }
      
      #mySidenav a:hover {
        left: 0;
      }
      #ex {
        top: 80px;
        background-color: $gold-color;
        border-radius: 20px;
      }
      
      #ed {
        top: 150px;
        background-color: #2196F3;
      }
      
      #sk {
        top: 220px;
        background-color: #f44336;
      }
      
      #pr {
        top: 290px;
        background-color: #555
      }
      ul{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
       } 
      li{
        padding-right: 5px;
        padding-bottom: 0;
      }
    .a-custom{
        color: $gold-color;   
        padding: 5px;
        text-decoration: none;
    }
    .a-custom:hover {
        background-color: $primary-color;
        color:#ffffff;
        cursor: pointer;
        box-shadow: 0px 0px 0px 3px rgba(255,215,0,1);
        border-radius: 0px 5px 0px 5px;
    }
    .a-custom.active {
        background-color: $primary-color;
        color:#ffffff;
        cursor: pointer;
        box-shadow: 0px 0px 0px 3px rgba(255,215,0,1);
        border-radius: 0px 5px 0px 5px;
    }
    .i-custom {
        color: $secondary-color;
    }
    .hearth{
        color: $third-color;
    }
    .p-custome {
        color:$custom-white;
    }
    ol{
        color:$custom-white;
        list-style: none;
    }
}
footer{
    background-color:$primary-color !important;
    i{
        font-size: 1.8rem;
        padding-right:2px;
        color:$custom-white;
    }
    i:hover{
        color: $gold-color;
        cursor: pointer;
    }
    p{
        color: $custom-white;
        font-size: 0.86rem;
    }
}